<aside aria-label="Sidebar">
   <app-title title="Search"></app-title>
   <ul class="space-y-1">
          <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
             <span
                class="flex items-center px-3 py-2 rounded-lg text-blue-500 hover:text-blue-500 hover:bg-blue-900 hover:border-blue-500 border border-black">
                    Country
             </span>
          </li>
          <li routerLink="region" routerLinkActive="active">
            <span
               class="flex items-center px-3 py-2 rounded-lg text-blue-500 hover:text-blue-500 hover:bg-blue-900 hover:border-blue-500 border border-black">
                   Region
            </span>
         </li>
         <li routerLink="capital" routerLinkActive="active">
            <span
               class="flex items-center px-3 py-2 rounded-lg text-blue-500 hover:text-blue-500 hover:bg-blue-900 hover:border-blue-500 border border-black">
                   Capital
            </span>
         </li>
       </ul>
 </aside>