<aside aria-label="Sidebar">
   <app-title title="Search"></app-title>
   <ul class="space-y-1">
          <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
             <span
                class="flex items-center px-3 py-2 text-base font-normal text-gray-200 rounded-lg hover:bg-gray-700 dark:hover:bg-gray-700">
                    Country
             </span>
          </li>
          <li routerLink="region" routerLinkActive="active">
            <span
               class="flex items-center px-3 py-2 text-base font-normal text-gray-200 rounded-lg hover:bg-gray-700 dark:hover:bg-gray-700">
                   Region
            </span>
         </li>
         <li routerLink="capital" routerLinkActive="active">
            <span
               class="flex items-center px-3 py-2 text-base font-normal text-gray-200 rounded-lg hover:bg-gray-700 dark:hover:bg-gray-700">
                   Capital
            </span>
         </li>
       </ul>
 </aside>